body{
    display:flex;
    background: yellow;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tooltip{
    display:inline-block;
    position:absolute;
    background: green;
}